/*
 ##########################################################
 START DO NOT CHANGE ZONE
 ##########################################################
*/

html {
  box-sizing: border-box;

  color: #222;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 45em;
}

header {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

h1 {
  margin: 0;

  font-size: 1.5rem;
}

.chapter-num {
  display: block;

  font-size: 1rem;
  font-style: italic;
}

.colon {
  display: none;
}

main {
  padding: 1.5rem 0;
}

p {
  margin: 0;

  text-indent: 1.3em;
}

p:first-child {
  text-indent: 0;
}

main > p:first-child::first-line {
  font-style: italic;
}

footer {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

/*
 ##########################################################
 END DO NOT CHANGE ZONE
 ##########################################################
*/

/* Write your CSS here */

.wrapper > p:first-child::first-letter {
  background-color: #666;
  color: #f2f2f2;
  font-size: 5rem;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  font-style: normal;
  padding: 12px 13px;
  float: left;
  width: 50%;
  margin: 2px 22px 0 -35px;
}

figure {
  float: right;
  width: 300px;
  border: 3px solid #333;
  border-left: none;
  border-right: none;
  padding: .4em .2em;
  margin-right: -150px;
  margin-top: 5px;
}

figcaption {
  font-style: italic;
  padding-top: 3px;
}

blockquote {
  font-size: 1.5rem;
  color: #666;
  float: left;
  width: 300px;
  line-height: 1.2;
  border: 3px solid #333;
  border-left: none;
  border-right: none;
  padding: 15px;
  text-align: right;
  margin: 0 20px 0 -150px;
}
